<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cesarcanon.bestfriend">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".registrar_mascota_final"></activity>
        <activity android:name=".foto_registrar_mascota" />
        <activity android:name=".registrarMascota" />
        <activity android:name=".busqueda" />
        <activity
            android:name=".TYUI"
            android:label="@string/title_activity_tyui"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".inicio_dm" />
        <activity
            android:name=".bs"
            android:label="@string/title_activity_bs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>